<!--suppress AndroidDomInspection, AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitbattles">
    <application
        android:name=".MainApplication"
        android:label="FitBattles"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.example.fitbattles.MainActivity"
            android:exported="true">

            <!-- Main Activity Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Theme Metadata -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent Filter for Sending Plain Text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data />
            </intent-filter>
        </activity>

        <!-- Flutter Embedding Metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
